.menu {
    width: 100%;
    height: 80vh;
    background-size: cover;
    position: relative;
    top: 18rem;
}

.menu::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.7rem;
    padding: 0;
}

.food {
    width: 50%;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F8F8FF ;
    padding: 4rem;
    
}

.textBox {
    // width: 100%;
    // max-width: 50rem;
    // color: black;
    // text-transform: uppercase;
    // transform: translate(20%);
    // position: relative;
    // padding-top: 10%;
    // padding-bottom: 10%;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
    // left: 25%;
    text-align: center;
color: black;
}


.textBox h3 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.textBox h1 {
    font-size: 4rem;
    margin: 1rem;
    color: #eb648c;
    padding-bottom: 1rem;
}

.textBox p {
    font-size: 1.4rem;
    margin: 1rem;
    text-transform: lowercase;
}


.icon {
    width: 200px;
    height: 200px;
}


.btn {
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    position: relative;
    font-size: 1.4rem;
}

.btn:hover {
    background-color: #ce587b;
}

.btn:focus {
    outline: 0;
}